<div class="container-add-exam">
  <h3>Select Student and Course from tables to add new exam result</h3>

  <div class="info-container">
    <p *ngIf="selectedStudent !== undefined"><strong>Student Number:</strong> {{selectedStudent.number}}</p>
    <p *ngIf="selectedCourse !== undefined"><strong>Course Name:</strong> {{selectedCourse.name}}</p>
  </div>

  <div *ngIf="selectedStudent && selectedCourse" class="form-container">
    <div class="form-button-container">
      <form class="exam-result-form" #examResultForm="ngForm" (ngSubmit)="onSubmit(examResult, examResultForm)">
        <mat-form-field class="example-full-width">
          <mat-label>Score</mat-label>
          <input type="number" matInput [(ngModel)]="examResult.score" name="score" required>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Add</button>
      </form>

    </div>
  </div>
</div>

<div class="container">
  <div class="half-width">
    <h2>Student List</h2>
    <app-student-list [selectedStudent]="selectedStudent"
      (selectedStudentValueChanged)="onSelectedStudentValueChanged($event)" [students]="students"></app-student-list>
  </div>
  <div class="half-width">
    <h2>Course List</h2>
    <app-course-list [selectedCourse]="selectedCourse"
      (selectedCourseValueChanged)="onSelectedCourseValueChanged($event)" [courses]="courses"></app-course-list>
  </div>
</div>

<mat-card class="manage-result-card">
  <mat-card-header>
    <mat-card-title>Select Student or Course to View Exam Results</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-manage-exam-results [students]="students" [courses]="courses"></app-manage-exam-results>
  </mat-card-content>
</mat-card>

<div class="container">
  <div class="half-width">
    <app-student-add></app-student-add>
  </div>
  <div class="half-width">
    <app-course-add></app-course-add>
  </div>
</div>